.nav__List {
    padding: 0px;
    width: 100%;
}

.nav__listItem {
    padding: 5px 0;
    list-style-type: none;
}

.nav__link {
    color:rgb(8 118 8 / 86%);
    text-decoration: none;
    }

.nav__link:hover, .nav__link:focus {
    text-decoration: underline;
    outline: none;
}

.nav__link:active {
    color: rgb(231,76,60);
}
